body{
    padding: 0;
    margin: 0;
}
.container{
    background-color: red;
    padding: 10px;
    border: 5px solid blue;
    margin: 10px;
}
.content{
    background-color: #ddd;
    /*tem as caracteristicas de uma borda mas não afasta os outros elementos(ele pode ficar por cima)*/
    outline: 5px solid green;
    padding: 5px;
    /*box-sizing: border-box;  faz com que tudo fique dentro do limite da borda*/
}
table, th, td{
    border: 1px solid;
}
    
